@import "vars";



.box2{
	background: #fff;
	padding: 0px 0px 10px 10px;
}
.box2-wrapp{
	background: url(../img/box2-fon.jpg) center center no-repeat;
	background-size: cover;
	height: 420px;
	padding-left: 60px;
	padding-top: 55px;
}
.box2-title{
	border-bottom: 1px solid rgba(255 ,255 ,255,0.3) !important;
}
.box2-center-wrapp{
	width: 100%;
	max-width: 380px;
}










/***********************************************/
.box1{
	width: 100%;
	background: #fff;
	font-size: 0;
}
.box1-left{
	display: inline-block;
	width: 64%;
	vertical-align: top;
	background: url(../img/box1-fon_left.jpg) top center no-repeat;
	background-size: cover;
	height: 420px;
	margin: 10px 5px 10px 10px;
}
.box1-right{
	display: inline-block;
	width: 34.3%;
	vertical-align: top;
	background: url(../img/box1-fon_right.jpg) bottom center no-repeat;
	background-size: cover;
	height: 420px;
	margin: 10px 0px 10px 5px;
}
.box1-left-title{
	display: inline;
	color: #0f1c27;
	font-family: "circe-regular";
	line-height: 51px;
	font-size: 36px;
	border-bottom: 1px solid #c7c7c7;
}
.box1-right-title{
	border-bottom: 1px solid #c5811d;
}
.box1-left-subtitle{
	display: block;
	color: #0f1c27;
	font-family: "circe-bold";
	line-height: 48px;
	font-size: 24px;
	margin-top: 10px;
}
.box1-left-text{
	display: block;
	color: #0f1c27;
	font-family: "circe-regular";
	font-size: 18px;
	line-height: 28px;
	// margin-top: 15px;
}
.box1-right-text{
	width: 100%;
	max-width: 290px;
}
.box1-left-wrapp{
	width: 100%;
	max-width: 380px;
	margin-left: 60px;
	margin-top: 55px;
}
.box1-right-wrapp{
	width: 100%;
	max-width: 330px;
	margin-left: 55px;
	margin-top: 55px;
}
/***********************************************/
.topbox{
	background: url(../img/mainbox-fon.jpg) center center no-repeat;
	background-size: cover;
	height: 628px;
	padding: 60px 85px;
}
.topbox-title-wrapp{
	width: 100%;
	max-width: 650px;
	margin: 35px 35px;
}
.topbox-title{
	display: block;
	font-family: "circe-regular";
	color: #fff;
	font-size: 44px;
	line-height: 56px;
}
.topbox-item-title{
	display: block;
	color: #fff;
	font-family: "circe-bold";
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	margin: 25px 0px;
}
.topbox-item-text{
	display: block;
	font-family: "circe-regular";
	color: #fff;
	font-size: 17px;
	line-height: 24px;
}
.topbox-item-link{
	display: block;
	width: 100%;
	max-width: 142px;
	height: 44px;
	border: 1px solid #fafafa;
	border-radius: 2px;
	font-family: "circe-bold";
	text-align: center;
	color: #fff;
	font-size: 17px;
	line-height: 44px;
	background: transparent;
	margin-top: 25px;
	&:hover, &:active, &:focus{
		color: #282831;
		background: #fff;
		text-decoration: none;
		transition: background 0.6s ease 0s;
	}
}
.topbox-item{
	display: inline-block;
	width: 100%;
	max-width: 243px;
	border-top: 1px solid rgba(255,255,255,0.3);
	margin: 35px 35px; 
	// background-color: #fafafa;
	// outline: 1px solid red;
}

























