.partner{
	display: table;
	width: 100%;
	min-height: 240px;
	margin: 10px 0;
	@include desktop(1200){
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		// padding: 0 5px;
		align-items: center;
		justify-content: space-around;
	}
}
.partner-item{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	@include desktop(1200){
		display: inline-block;
	}
}
.partner-item_title{
	min-width: 266px;
	@include desktop(1200){
		display: block;
		width: 100%;
	}
}

.partner-title{
	font-family: "circe-bold";
	font-size: 24px;
	line-height: 36px;
	color: #0f1c27;
	opacity: 0.9;
	letter-spacing: 0.05em;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	padding-left: 15%;
	@include desktop(1200){
		padding-left: 0;
		text-align: center;
		br{
			display: none;

		}
	}
}

/****************************/

.news{
	font-size: 0;
	padding-left: 10px;
}

.news-item{
	width: 25%;
	height: 335px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border-bottom: 1px solid #fff;
	@include desktop(1600){
		// display: block;
		width: 50%;
	}
	@include desktop(768){
		// display: block;
		width: 100%;
	}
}

.news-item_title{
	background: #f29c20;
	padding: 50px 5px 0 45px;
}

.news-item_rotate-wrap{
	// transform: scale(.833);
	&:hover{
		.news-item_rotate{
			.news-item-img{
				transform: translateZ(167px) translateY(0) rotateX(0deg);
				z-index: 2;
			}
			.news-item-cont{
				transform: translateZ(0) translateY(167px) rotateX(-90deg);
				z-index: 1;
			}
		}
	}
}

.news-item_rotate{
	perspective: 1000px;
	perspective-origin: center center;
	// transition: all .5s linear;
	transform: scale(.833);
	// padding: 20px 40px;
	width: 100%;
	height: 100%;
	border-left: 1px solid #fff;
	
	
}

.news-item-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(-167px) translateZ(0) rotateX(90deg);
	// transform-origin: center bottom;
	transition: all .2s ease;
	background: #fff;
	z-index: 1;
	backface-visibility: hidden;
	overflow: hidden;
	img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 200%;
		min-width: 130%;
		height: auto;
	}
}

.news-item-cont{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f29c20;
	transition: all .2s ease; 
	transform: translateZ(167px) translateY(0) rotateX(0);
	z-index: 2;
	backface-visibility: hidden;
}

.news-title{
	font-family: "circe-bold";
	font-size: 24px;
	line-height: 40px;
	color: #0f1c27;
	opacity: 0.9;
	letter-spacing: 0.05em;
	font-weight: normal;
	text-transform: uppercase;
	display: inline;
	border-bottom: 1px solid #c5811d;
	a{
		color: #0f1c27;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
		
	}
}

.news-item-cont{
	padding: 50px 45px;
	// position: relative;
}

.news-name{
	font-family: "circe-regular";
	font-size: 20px;
	line-height: 28px;
	color: #0f1c27;
	letter-spacing: 0.005em;
	font-weight: normal;
	display: inline;
	border-bottom: 1px solid #c5811d;
}

.news-time{
	position: absolute;
	bottom: 40px;
	left: 45px;
	font-family: "circe-regular";
	font-size: 14px;
	line-height: 28px;
	color: #0f1c27;
	letter-spacing: 0.005em;
	opacity: 0.7;
	text-transform: uppercase;

	font-weight: normal;
}