.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 88px;
	font-size: 0;
	background: #fff;
  z-index: 3;
	// @include desktop(768){
	// 	position: absolute;
	// 	z-index: 6;
	// }
}

.header-logo{
	width: 218px;
	display: inline-block;
	vertical-align: top;
	padding-top: 27px;
	padding-left: 22px;
	@include desktop(768){
		width: 100%;
		padding: 5px;
		text-align: center;
	}
}

.header-right{
	width: calc(100% - 218px);
	// max-width: 1322px;
	text-align: right;
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	&::before{
		content: '';
		width: 0;
		height: 88px;
		display: inline-block;
		vertical-align: middle;
	}
	@include desktop(768){
		width: 100%;
		padding: 0px;
		text-align: center;
		&::before{
			content: '';
			width: 0;
			height: 30px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.header-phone{
	font-family: "circe-bold";
	font-size: 18px;
	color: rgba(54, 61, 68, .8);
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 21px;
	position: relative;
	text-decoration: none;
	transition: all 0.6s ease;
	&::before{
		content: '';
		width: 16px;
		height: 16px;
		position: absolute;
		left: 0;
		top: 3px;
		background: url(../img/header-phone.png) no-repeat center;
		opacity: .2;
		transition: all 0.6s ease;
	}
	&:active, &:focus{
		color: rgba(54, 61, 68, .8);
		text-decoration: none;
	}
	&:hover{
		color: rgba(54, 61, 68, 1);
		text-decoration: none;
		&::before{
			opacity: .5;
		}
	}
	@include desktop(1200){
		font-size: 0;
		&::before{
			opacity: .5;
		}
	}
}

.header-envelope{
	font-family: "circe-bold";
	font-size: 18px;
	color: rgba(54, 61, 68, .8);
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 21px;
	position: relative;
	text-decoration: none;
	transition: all 0.6s ease;
	&::before{
		content: '';
		width: 16px;
		height: 13px;
		position: absolute;
		left: 0;
		top: 5px;
		background: url(../img/header-envelope.png) no-repeat center;
		opacity: .2;
		transition: all 0.6s ease;
	}
	&:active, &:focus{
		color: rgba(54, 61, 68, .8);
		text-decoration: none;
	}
	&:hover{
		color: rgba(54, 61, 68, 1);
		text-decoration: none;
		&::before{
			opacity: .5;
		}
	}
	@include desktop(1200){
		font-size: 0;
		&::before{
			opacity: .5;
		}
	}
}

.header-lk{
	display: inline-block;
	vertical-align: middle;
	height: 44px;
	border: 2px solid #2c7fbf;
	width: 212px;
	background: #2c7fbf;
	border-radius: 2px;
	font-family: "circe-bold";
	font-size: 18px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	letter-spacing: 0.01em;
	text-decoration: none;
	transition: background 0.6s ease;
	&::before{
		content: '';
		width: 16px;
		height: 15px;
		margin-bottom: 4px;
		vertical-align: middle;
		margin-right: 8px;
		display: inline-block;
		background: url(../img/header-user.png) no-repeat center;// bottom;
	}
	&:active, &:focus{
		color: #fff;
		text-decoration: none;
	}
	&:hover{
		background: #fff;
		color: #2c7fbf;
		text-decoration: none;
		&::before{
			background: url(../img/header-user-blue.png) no-repeat center;
		}
	}
	@include desktop(992){
		font-size: 0;
		height: 20px;
		border: 2px solid #fff;
		width: 20px;
		line-height: 20px;
		background: #fff;
		&::before{
			background: url(../img/header-user-blue.png) no-repeat center;
		}
	}
}

.header-marginr{
	margin-right: 27px;
	@include desktop(992){
		margin-right: 20px;	
	}
}

.header-marginr2{
	margin-right: 43px;
	@include desktop(992){
		margin-right: 20px;	
	}
}

.header-marginr3{
	margin-right: 22px;
	@include desktop(992){
		margin-right: 20px;	
	}
}

.header-marginr4{
	margin-right: 22px;
	@include desktop(992){
		margin-right: 20px;	
	}
}

.header-reg{
	font-family: "circe-bold";
	font-size: 18px;
	line-height: 24px;
	display: inline-block;
	vertical-align: middle;
	color: #2c7fbf;
	padding: 0 2px;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid #bfd8ec;
	&:active, &:focus{
		color: #2c7fbf;
		text-decoration: none;
		border-bottom: 1px solid #bfd8ec;
	}
	&:hover{
		color: #2c7fbf;
		text-decoration: none;
		border-bottom: 1px solid transparent;
	}
}

.header-cart{
	width: 28px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	background: url(../img/header-cart.png) no-repeat center;
}

.header-menu-icon{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 10px;
	font-size: 0;
	@include mobile(768){
		display: none;
	}
}







/*mobile*/
	.toggle-mnu {
	  width: 27px;
	  height: 27px;
	  margin-top: 10px;
	}

	.toggle-mnu span:after, .toggle-mnu span:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: -9px;
	}

	.toggle-mnu span:after {
	  top: 9px;
	}

	.toggle-mnu span {
	  position: relative;
	  display: block;
	}

	.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
	  width: 100%;
	  height: 4px;
	  background-color: #2c7fbf;
	  -webkit-transition: all 0.8s;
	          transition: all 0.8s;
	  -webkit-backface-visibility: hidden;
	          backface-visibility: hidden;
	}

	.toggle-mnu.on span {
	  background-color: transparent;
	}

	.toggle-mnu.on span:before {
	  -webkit-transform: rotate(405deg) translate(6px, 6px);
	      -ms-transform: rotate(405deg) translate(6px, 6px);
	          transform: rotate(405deg) translate(6px, 6px);
	}

	.toggle-mnu.on span:after {
	  -webkit-transform: rotate(-405deg) translate(6px, -7px);
	      -ms-transform: rotate(-405deg) translate(6px, -7px);
	          transform: rotate(-405deg) translate(6px, -7px);
	}
/*mobile*/