.sidebar{
	position: fixed;
	top: 88px;
	left: 0;
	width: 218px;
	height: calc(100% - 88px);
	background: #363636;
	transition: all .3s ease-in-out;
	@include desktop(992){
		width: 40px;
	}
	@include desktop(768){
		width: 218px;
		left: -218px;
		transition: all .5s ease-in-out;
	}
}

.sidebar-show{
	left: 0px;
}

.sidebar-menu{
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 23px;
	li{
		margin-bottom: 11px;
		display: block;
	}
	a{
		color: #fff;
		display: inline-block;
		vertical-align: top;
		font-family: "circe-bold";
		font-size: 18px;
		padding-top: 30px;
		line-height: 24px;
		@include desktop(992){
			font-size: 0;
			width: 30px;
			height: 30px;
			background-position: center;
			padding: 0;
		}
		@include desktop(768){
			width: auto;
			height: auto;
			background-position: center bottom 28px;
			padding-top: 30px;
			font-size: 18px;
		}
	}
}

.sidebar-menu__link1{
	background: url(../img/sidebar-menu1.png) no-repeat center bottom 28px;
}
.sidebar-menu__link2{
	background: url(../img/sidebar-menu2.png) no-repeat center bottom 28px;
}
.sidebar-menu__link3{
	background: url(../img/sidebar-menu3.png) no-repeat center bottom 28px;
}
.sidebar-menu__link4{
	background: url(../img/sidebar-menu4.png) no-repeat center bottom 28px;
}
.sidebar-menu__link5{
	background: url(../img/sidebar-menu5.png) no-repeat center bottom 28px;
}
.sidebar-menu__link6{
	background: url(../img/sidebar-menu6.png) no-repeat center bottom 28px;
}

