// @import "bourbon";
// @import "fonts";
// @import "libs";
@import "vars";


@import "header";
@import "sitebar";

body{
	padding: 88px 0 0 218px;
}

.container{
	width: 100%;
	max-width: 1322px;
	outline: 1px solid red;
	min-height: 20px;
}



