@font-face {
  font-family: circe-bold;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/circe-bold/circe-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/circe-bold/circe-bold.woff2") format("woff2"), url("/fonts/circe-bold/circe-bold.woff") format("woff"), url("/fonts/circe-bold/circe-bold.ttf") format("truetype"), url("/fonts/circe-bold/circe-bold.svg#circe-bold") format("svg"); }

@font-face {
  font-family: circe-extra-light;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/circe-extra-light/circe-extra-light.eot?#iefix") format("embedded-opentype"), url("/fonts/circe-extra-light/circe-extra-light.woff2") format("woff2"), url("/fonts/circe-extra-light/circe-extra-light.woff") format("woff"), url("/fonts/circe-extra-light/circe-extra-light.ttf") format("truetype"), url("/fonts/circe-extra-light/circe-extra-light.svg#circe-extra-light") format("svg"); }

@font-face {
  font-family: circe-light;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/circe-light/circe-light.eot?#iefix") format("embedded-opentype"), url("/fonts/circe-light/circe-light.woff2") format("woff2"), url("/fonts/circe-light/circe-light.woff") format("woff"), url("/fonts/circe-light/circe-light.ttf") format("truetype"), url("/fonts/circe-light/circe-light.svg#circe-light") format("svg"); }

@font-face {
  font-family: circe-regular;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/circe-regular/circe-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/circe-regular/circe-regular.woff2") format("woff2"), url("/fonts/circe-regular/circe-regular.woff") format("woff"), url("/fonts/circe-regular/circe-regular.ttf") format("truetype"), url("/fonts/circe-regular/circe-regular.svg#circe-regular") format("svg"); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  outline: 1px solid #aaa;
  font-size: 0; }

.header-logo {
  width: 218px;
  display: inline-block;
  vertical-align: top;
  padding-top: 27px;
  padding-left: 22px; }

.header-right {
  width: -webkit-calc(100% - 218px);
  width: calc(100% - 218px);
  text-align: right; }

.header-phone {
  font-family: "circe-bold";
  font-size: 18px;
  color: #363d44;
  line-height: 24px; }

.sidebar {
  position: fixed;
  top: 88px;
  left: 0;
  width: 218px;
  outline: 1px solid #aaa;
  height: -webkit-calc(100% - 88px);
  height: calc(100% - 88px); }

body {
  padding: 88px 0 0 218px; }

ul {
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

.container {
  width: 100%;
  max-width: 1322px;
  outline: 1px solid red;
  min-height: 20px; }
