@font-face {
  font-family: circe-bold;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/circe-bold/circe-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/circe-bold/circe-bold.woff2") format("woff2"), url("/fonts/circe-bold/circe-bold.woff") format("woff"), url("/fonts/circe-bold/circe-bold.ttf") format("truetype"), url("/fonts/circe-bold/circe-bold.svg#circe-bold") format("svg"); }

@font-face {
  font-family: circe-extra-light;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/circe-extra-light/circe-extra-light.eot?#iefix") format("embedded-opentype"), url("/fonts/circe-extra-light/circe-extra-light.woff2") format("woff2"), url("/fonts/circe-extra-light/circe-extra-light.woff") format("woff"), url("/fonts/circe-extra-light/circe-extra-light.ttf") format("truetype"), url("/fonts/circe-extra-light/circe-extra-light.svg#circe-extra-light") format("svg"); }

@font-face {
  font-family: circe-light;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/circe-light/circe-light.eot?#iefix") format("embedded-opentype"), url("/fonts/circe-light/circe-light.woff2") format("woff2"), url("/fonts/circe-light/circe-light.woff") format("woff"), url("/fonts/circe-light/circe-light.ttf") format("truetype"), url("/fonts/circe-light/circe-light.svg#circe-light") format("svg"); }

@font-face {
  font-family: circe-regular;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/circe-regular/circe-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/circe-regular/circe-regular.woff2") format("woff2"), url("/fonts/circe-regular/circe-regular.woff") format("woff"), url("/fonts/circe-regular/circe-regular.ttf") format("truetype"), url("/fonts/circe-regular/circe-regular.svg#circe-regular") format("svg"); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  font-size: 0;
  background: #fff;
  z-index: 3; }

.header-logo {
  width: 218px;
  display: inline-block;
  vertical-align: top;
  padding-top: 27px;
  padding-left: 22px; }
  @media only screen and (max-width: 767px) {
    .header-logo {
      width: 100%;
      padding: 5px;
      text-align: center; } }

.header-right {
  width: -webkit-calc(100% - 218px);
  width: calc(100% - 218px);
  text-align: right;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px; }
  .header-right::before {
    content: '';
    width: 0;
    height: 88px;
    display: inline-block;
    vertical-align: middle; }
  @media only screen and (max-width: 767px) {
    .header-right {
      width: 100%;
      padding: 0px;
      text-align: center; }
      .header-right::before {
        content: '';
        width: 0;
        height: 30px;
        display: inline-block;
        vertical-align: middle; } }

.header-phone {
  font-family: "circe-bold";
  font-size: 18px;
  color: rgba(54, 61, 68, 0.8);
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 21px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .header-phone::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 3px;
    background: url(../img/header-phone.png) no-repeat center;
    opacity: .2;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  .header-phone:active, .header-phone:focus {
    color: rgba(54, 61, 68, 0.8);
    text-decoration: none; }
  .header-phone:hover {
    color: #363d44;
    text-decoration: none; }
    .header-phone:hover::before {
      opacity: .5; }
  @media only screen and (max-width: 1199px) {
    .header-phone {
      font-size: 0; }
      .header-phone::before {
        opacity: .5; } }

.header-envelope {
  font-family: "circe-bold";
  font-size: 18px;
  color: rgba(54, 61, 68, 0.8);
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 21px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .header-envelope::before {
    content: '';
    width: 16px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 5px;
    background: url(../img/header-envelope.png) no-repeat center;
    opacity: .2;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease; }
  .header-envelope:active, .header-envelope:focus {
    color: rgba(54, 61, 68, 0.8);
    text-decoration: none; }
  .header-envelope:hover {
    color: #363d44;
    text-decoration: none; }
    .header-envelope:hover::before {
      opacity: .5; }
  @media only screen and (max-width: 1199px) {
    .header-envelope {
      font-size: 0; }
      .header-envelope::before {
        opacity: .5; } }

.header-lk {
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  border: 2px solid #2c7fbf;
  width: 212px;
  background: #2c7fbf;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-family: "circe-bold";
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.01em;
  text-decoration: none;
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease; }
  .header-lk::before {
    content: '';
    width: 16px;
    height: 15px;
    margin-bottom: 4px;
    vertical-align: middle;
    margin-right: 8px;
    display: inline-block;
    background: url(../img/header-user.png) no-repeat center; }
  .header-lk:active, .header-lk:focus {
    color: #fff;
    text-decoration: none; }
  .header-lk:hover {
    background: #fff;
    color: #2c7fbf;
    text-decoration: none; }
    .header-lk:hover::before {
      background: url(../img/header-user-blue.png) no-repeat center; }
  @media only screen and (max-width: 991px) {
    .header-lk {
      font-size: 0;
      height: 20px;
      border: 2px solid #fff;
      width: 20px;
      line-height: 20px;
      background: #fff; }
      .header-lk::before {
        background: url(../img/header-user-blue.png) no-repeat center; } }

.header-marginr {
  margin-right: 27px; }
  @media only screen and (max-width: 991px) {
    .header-marginr {
      margin-right: 20px; } }

.header-marginr2 {
  margin-right: 43px; }
  @media only screen and (max-width: 991px) {
    .header-marginr2 {
      margin-right: 20px; } }

.header-marginr3 {
  margin-right: 22px; }
  @media only screen and (max-width: 991px) {
    .header-marginr3 {
      margin-right: 20px; } }

.header-marginr4 {
  margin-right: 22px; }
  @media only screen and (max-width: 991px) {
    .header-marginr4 {
      margin-right: 20px; } }

.header-reg {
  font-family: "circe-bold";
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #2c7fbf;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #bfd8ec; }
  .header-reg:active, .header-reg:focus {
    color: #2c7fbf;
    text-decoration: none;
    border-bottom: 1px solid #bfd8ec; }
  .header-reg:hover {
    color: #2c7fbf;
    text-decoration: none;
    border-bottom: 1px solid transparent; }

.header-cart {
  width: 28px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  background: url(../img/header-cart.png) no-repeat center; }

.header-menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  font-size: 0; }
  @media only screen and (min-width: 768px) {
    .header-menu-icon {
      display: none; } }

/*mobile*/
.toggle-mnu {
  width: 27px;
  height: 27px;
  margin-top: 10px; }

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 4px;
  background-color: #2c7fbf;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(405deg) translate(6px, 6px);
  -ms-transform: rotate(405deg) translate(6px, 6px);
  transform: rotate(405deg) translate(6px, 6px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-405deg) translate(6px, -7px);
  -ms-transform: rotate(-405deg) translate(6px, -7px);
  transform: rotate(-405deg) translate(6px, -7px); }

/*mobile*/
.sidebar {
  position: fixed;
  top: 88px;
  left: 0;
  width: 218px;
  height: -webkit-calc(100% - 88px);
  height: calc(100% - 88px);
  background: #363636;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  @media only screen and (max-width: 991px) {
    .sidebar {
      width: 40px; } }
  @media only screen and (max-width: 767px) {
    .sidebar {
      width: 218px;
      left: -218px;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; } }

.sidebar-show {
  left: 0px; }

.sidebar-menu {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 23px; }
  .sidebar-menu li {
    margin-bottom: 11px;
    display: block; }
  .sidebar-menu a {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-family: "circe-bold";
    font-size: 18px;
    padding-top: 30px;
    line-height: 24px; }
    @media only screen and (max-width: 991px) {
      .sidebar-menu a {
        font-size: 0;
        width: 30px;
        height: 30px;
        background-position: center;
        padding: 0; } }
    @media only screen and (max-width: 767px) {
      .sidebar-menu a {
        width: auto;
        height: auto;
        background-position: center bottom 28px;
        padding-top: 30px;
        font-size: 18px; } }

.sidebar-menu__link1 {
  background: url(../img/sidebar-menu1.png) no-repeat center bottom 28px; }

.sidebar-menu__link2 {
  background: url(../img/sidebar-menu2.png) no-repeat center bottom 28px; }

.sidebar-menu__link3 {
  background: url(../img/sidebar-menu3.png) no-repeat center bottom 28px; }

.sidebar-menu__link4 {
  background: url(../img/sidebar-menu4.png) no-repeat center bottom 28px; }

.sidebar-menu__link5 {
  background: url(../img/sidebar-menu5.png) no-repeat center bottom 28px; }

.sidebar-menu__link6 {
  background: url(../img/sidebar-menu6.png) no-repeat center bottom 28px; }

.footer-hr {
  width: 100%;
  height: 1px;
  background: #d9d9d9;
  margin: 5px 0; }

.footer {
  padding-left: 100px;
  padding-bottom: 30px;
  padding-right: 15px; }
  @media only screen and (max-width: 1199px) {
    .footer {
      padding-left: 15px; } }

.footer-grid {
  padding-top: 30px;
  font-size: 0; }

.footer-grid_right {
  text-align: right; }

.footer-grid-item {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding-right: 3px; }
  @media only screen and (max-width: 1199px) {
    .footer-grid-item {
      width: 33.33%;
      max-width: 33.33%; } }
  @media only screen and (max-width: 767px) {
    .footer-grid-item {
      max-width: 100%;
      width: 100%;
      text-align: center;
      margin: 10px 0;
      padding-right: 0; } }
  .footer-grid-item:first-child {
    width: 20%; }
    @media only screen and (max-width: 1199px) {
      .footer-grid-item:first-child {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 10px; } }

.footer-text {
  font-family: "circe-regular";
  font-size: 15px;
  line-height: 24px;
  color: #979fa6;
  font-weight: normal; }

.footer-soc {
  margin-top: 10px; }

.footer-facebook {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: url(../img/footer-facebook.png) no-repeat center;
  margin: 0 7px;
  margin-left: 15px; }

.footer-twitter {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: url(../img/footer-twitter.png) no-repeat center;
  margin: 0 7px; }

.footer-list li {
  display: block;
  line-height: 24px; }

.footer-list a {
  display: inline-block;
  vertical-align: top;
  font-family: "circe-regular";
  font-size: 15px;
  color: #363d44;
  font-weight: normal;
  text-decoration: none; }
  .footer-list a:active, .footer-list a:focus {
    color: #363d44;
    text-decoration: none; }
  .footer-list a:hover {
    color: #363d44;
    text-decoration: underline; }

.footer-title {
  font-family: "circe-regular";
  font-size: 14px;
  line-height: 24px;
  color: #979fa6;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 10px 0; }

.footer-email {
  font-family: "circe-regular";
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: #363d44;
  font-weight: normal;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  text-decoration: none; }
  .footer-email:active, .footer-email:focus {
    text-decoration: none;
    color: #363d44; }
  .footer-email:hover {
    text-decoration: none;
    color: #363d44; }

.footer-phone {
  font-family: "circe-bold";
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: #979fa6;
  font-weight: normal;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  text-decoration: none; }
  .footer-phone:active, .footer-phone:focus {
    text-decoration: none;
    color: #979fa6; }
  .footer-phone:hover {
    text-decoration: none;
    color: #979fa6; }

.footer-pay {
  font-size: 0; }
  .footer-pay li {
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 30px;
    margin: 0 8px; }
    .footer-pay li:first-child {
      margin-left: 0; }

.footer-visa {
  background: url(../img/footer-visa.png) no-repeat center; }

.footer-mastercard {
  background: url(../img/footer-mastercard.png) no-repeat center; }

.footer-paypal {
  background: url(../img/footer-paypal.png) no-repeat center; }

.partner {
  display: table;
  width: 100%;
  min-height: 240px;
  margin: 10px 0; }
  @media only screen and (max-width: 1199px) {
    .partner {
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }

.partner-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  @media only screen and (max-width: 1199px) {
    .partner-item {
      display: inline-block; } }

.partner-item_title {
  min-width: 266px; }
  @media only screen and (max-width: 1199px) {
    .partner-item_title {
      display: block;
      width: 100%; } }

.partner-title {
  font-family: "circe-bold";
  font-size: 24px;
  line-height: 36px;
  color: #0f1c27;
  opacity: 0.9;
  letter-spacing: 0.05em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15%; }
  @media only screen and (max-width: 1199px) {
    .partner-title {
      padding-left: 0;
      text-align: center; }
      .partner-title br {
        display: none; } }

/****************************/
.news {
  font-size: 0;
  padding-left: 10px; }

.news-item {
  width: 25%;
  height: 335px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-bottom: 1px solid #fff; }
  @media only screen and (max-width: 1599px) {
    .news-item {
      width: 50%; } }
  @media only screen and (max-width: 767px) {
    .news-item {
      width: 100%; } }

.news-item_title {
  background: #f29c20;
  padding: 50px 5px 0 45px; }

.news-item_rotate {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: scale(0.833);
      -ms-transform: scale(0.833);
          transform: scale(0.833);
  border-left: 1px solid #fff; }
  .news-item_rotate:hover .news-item-img {
    -webkit-transform: translateZ(167px) translateY(0) rotateX(0deg);
            transform: translateZ(167px) translateY(0) rotateX(0deg);
    z-index: 2; }
  .news-item_rotate:hover .news-item-cont {
    -webkit-transform: translateZ(0) translateY(167px) rotateX(-90deg);
            transform: translateZ(0) translateY(167px) rotateX(-90deg);
    z-index: 1; }

.news-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-167px) translateZ(0) rotateX(90deg);
          transform: translateY(-167px) translateZ(0) rotateX(90deg);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background: #fff;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden; }
  .news-item-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 200%;
    min-width: 130%;
    height: auto; }

.news-item-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f29c20;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateZ(167px) translateY(0) rotateX(0);
          transform: translateZ(167px) translateY(0) rotateX(0);
  z-index: 2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.news-title {
  font-family: "circe-bold";
  font-size: 24px;
  line-height: 40px;
  color: #0f1c27;
  opacity: 0.9;
  letter-spacing: 0.05em;
  font-weight: normal;
  text-transform: uppercase;
  display: inline;
  border-bottom: 1px solid #c5811d; }
  .news-title a {
    color: #0f1c27;
    text-decoration: none; }
    .news-title a:hover {
      text-decoration: none; }

.news-item-cont {
  padding: 50px 45px; }

.news-name {
  font-family: "circe-regular";
  font-size: 20px;
  line-height: 28px;
  color: #0f1c27;
  letter-spacing: 0.005em;
  font-weight: normal;
  display: inline;
  border-bottom: 1px solid #c5811d; }

.news-time {
  position: absolute;
  bottom: 40px;
  left: 45px;
  font-family: "circe-regular";
  font-size: 14px;
  line-height: 28px;
  color: #0f1c27;
  letter-spacing: 0.005em;
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: normal; }

body {
  padding: 88px 0 0 218px;
  overflow-x: hidden;
  overflow-y: auto; }
  @media only screen and (max-width: 991px) {
    body {
      padding: 88px 0 0 40px; } }
  @media only screen and (max-width: 767px) {
    body {
      padding: 88px 0 0 0px; } }

.box3 {
  background: #fff;
  width: 100%;
  font-size: 0; }

.box3-left {
  display: block;
  width: 100%;
  vertical-align: top;
  margin: 0px 0px 0px 0px; }
  @media only screen and (min-width: 768px) {
    .box3-left {
      display: inline-block;
      width: 34.3%;
      margin: 0px 5px 10px 10px; } }

.box3-right {
  display: block;
  width: 100%;
  vertical-align: top;
  margin: 0px 0px 0px 0px; }
  @media only screen and (min-width: 768px) {
    .box3-right {
      display: inline-block;
      width: 62.9%;
      margin: 0px 0px 10px 5px; } }
  @media only screen and (min-width: 992px) {
    .box3-right {
      width: 63%; } }
  @media only screen and (min-width: 1200px) {
    .box3-right {
      width: 63.6%; } }
  @media only screen and (min-width: 1600px) {
    .box3-right {
      width: 64.1%; } }

.box3-righttop {
  margin-bottom: 0px; }
  @media only screen and (min-width: 768px) {
    .box3-righttop {
      margin-bottom: 10px; } }

.box3-left-wrapp {
  background: url(../img/box3-fonleft.jpg) center center no-repeat;
  background-size: cover;
  height: 509px;
  padding-left: 15px;
  padding-top: 15px; }
  @media only screen and (min-width: 992px) {
    .box3-left-wrapp {
      height: 509px;
      padding-left: 25px;
      padding-top: 25px; } }
  @media only screen and (min-width: 1200px) {
    .box3-left-wrapp {
      height: 850px;
      padding-left: 35px;
      padding-top: 35px; } }
  @media only screen and (min-width: 1600px) {
    .box3-left-wrapp {
      padding-left: 60px;
      padding-top: 55px; } }

.box3-righttop-wrapp {
  background: url(../img/box3-fonrighttop.jpg) center center no-repeat;
  background-size: cover;
  height: 250px;
  padding-left: 15px;
  padding-top: 15px; }
  @media only screen and (min-width: 992px) {
    .box3-righttop-wrapp {
      height: 250px;
      padding-left: 25px;
      padding-top: 25px; } }
  @media only screen and (min-width: 1200px) {
    .box3-righttop-wrapp {
      height: 420px;
      padding-left: 35px;
      padding-top: 35px; } }
  @media only screen and (min-width: 1600px) {
    .box3-righttop-wrapp {
      padding-left: 60px;
      padding-top: 55px; } }

.box3-rightbottom {
  background: url(../img/box3-fonrightbottom.jpg) center center no-repeat;
  background-size: cover;
  height: 250px;
  padding-left: 15px;
  padding-top: 15px; }
  @media only screen and (min-width: 992px) {
    .box3-rightbottom {
      height: 250px;
      padding-left: 25px;
      padding-top: 25px; } }
  @media only screen and (min-width: 1200px) {
    .box3-rightbottom {
      height: 420px;
      padding-left: 35px;
      padding-top: 35px; } }
  @media only screen and (min-width: 1600px) {
    .box3-rightbottom {
      padding-left: 60px;
      padding-top: 55px; } }

.box3-right-text {
  width: 100%;
  max-width: 355px; }

.box3-right-title {
  border-bottom: 1px solid #cdcdce; }

/***********************************************/
.box2 {
  background: #fff;
  padding: 0px 0px 0px 0px; }
  @media only screen and (min-width: 768px) {
    .box2 {
      padding: 0px 0px 10px 10px; } }

.box2-wrapp {
  background: url(../img/box2-fon.jpg) center center no-repeat;
  background-size: cover;
  height: 350px;
  padding-left: 15px;
  padding-top: 15px; }
  @media only screen and (min-width: 768px) {
    .box2-wrapp {
      height: 420px; } }
  @media only screen and (min-width: 992px) {
    .box2-wrapp {
      padding-left: 25px;
      padding-top: 25px; } }
  @media only screen and (min-width: 1200px) {
    .box2-wrapp {
      padding-left: 35px;
      padding-top: 35px; } }
  @media only screen and (min-width: 1600px) {
    .box2-wrapp {
      padding-left: 60px;
      padding-top: 55px; } }

.box2-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important; }

.box2-center-wrapp {
  width: 100%;
  max-width: 380px; }

/***********************************************/
.box1 {
  width: 100%;
  background: #fff;
  font-size: 0; }

.box1-left {
  display: block;
  width: 100%;
  vertical-align: top;
  background: url(../img/box1-fon_left.jpg) top center no-repeat;
  background-size: cover;
  height: 350px;
  margin: 0px 0px 0px 0px; }
  @media only screen and (min-width: 768px) {
    .box1-left {
      display: inline-block;
      width: 62%;
      height: 420px;
      margin: 10px 5px 10px 10px; } }
  @media only screen and (min-width: 992px) {
    .box1-left {
      width: 63%; } }
  @media only screen and (min-width: 1200px) {
    .box1-left {
      width: 63.6%; } }
  @media only screen and (min-width: 1600px) {
    .box1-left {
      width: 64%; } }

.box1-right {
  display: block;
  width: 100%;
  vertical-align: top;
  background: url(../img/box1-fon_right.jpg) bottom center no-repeat;
  background-size: cover;
  height: 350px;
  margin: 0px 0px 0px 0px;
  padding: 15px 15px; }
  @media only screen and (min-width: 768px) {
    .box1-right {
      display: inline-block;
      width: 35%;
      height: 420px;
      margin: 10px 0px 10px 5px;
      padding: 0px 0px; } }
  @media only screen and (min-width: 992px) {
    .box1-right {
      width: 34.3%; } }

.box1-left-title {
  display: inline;
  color: #0f1c27;
  font-family: "circe-regular";
  line-height: 40px;
  font-size: 24px;
  border-bottom: 1px solid #c7c7c7; }
  @media only screen and (min-width: 1200px) {
    .box1-left-title {
      line-height: 40px;
      font-size: 24px; } }
  @media only screen and (min-width: 1600px) {
    .box1-left-title {
      line-height: 51px;
      font-size: 36px; } }

.box1-right-title {
  display: inline;
  color: #0f1c27;
  font-family: "circe-regular";
  line-height: 40px;
  font-size: 24px;
  border-bottom: 1px solid #c5811d; }
  @media only screen and (min-width: 992px) {
    .box1-right-title {
      line-height: 32px;
      font-size: 21px; } }
  @media only screen and (min-width: 1200px) {
    .box1-right-title {
      line-height: 40px;
      font-size: 24px; } }
  @media only screen and (min-width: 1600px) {
    .box1-right-title {
      line-height: 51px;
      font-size: 36px; } }

.box1-left-subtitle {
  display: block;
  color: #0f1c27;
  font-family: "circe-bold";
  line-height: 48px;
  font-size: 24px;
  margin-top: 10px; }

.box1-left-text {
  display: block;
  color: #0f1c27;
  font-family: "circe-regular";
  font-size: 14px;
  line-height: 28px; }
  @media only screen and (min-width: 1200px) {
    .box1-left-text {
      font-size: 14px; } }
  @media only screen and (min-width: 1600px) {
    .box1-left-text {
      font-size: 18px; } }

.box1-right-text {
  width: 100%;
  max-width: 228px; }
  @media only screen and (min-width: 992px) {
    .box1-right-text {
      max-width: 228px; } }
  @media only screen and (min-width: 1200px) {
    .box1-right-text {
      max-width: 255px; } }
  @media only screen and (min-width: 1600px) {
    .box1-right-text {
      max-width: 290px; } }

.box1-left-wrapp {
  width: 100%;
  max-width: unset;
  margin-left: 0px;
  margin-top: 0px;
  padding: 15px 15px; }
  @media only screen and (min-width: 768px) {
    .box1-left-wrapp {
      max-width: 380px;
      margin-left: 15px;
      margin-top: 15px;
      padding: 0px 0px; } }
  @media only screen and (min-width: 1200px) {
    .box1-left-wrapp {
      margin-left: 35px;
      margin-top: 35px; } }
  @media only screen and (min-width: 1600px) {
    .box1-left-wrapp {
      margin-left: 60px;
      margin-top: 55px; } }

.box1-right-wrapp {
  width: 100%;
  max-width: unset;
  margin-left: 0px;
  margin-top: 0px; }
  @media only screen and (min-width: 768px) {
    .box1-right-wrapp {
      max-width: 225px;
      margin-left: 15px;
      margin-top: 15px; } }
  @media only screen and (min-width: 992px) {
    .box1-right-wrapp {
      max-width: 330px;
      margin-left: 15px;
      margin-top: 15px; } }
  @media only screen and (min-width: 1200px) {
    .box1-right-wrapp {
      margin-left: 35px;
      margin-top: 35px; } }
  @media only screen and (min-width: 1600px) {
    .box1-right-wrapp {
      margin-left: 55px;
      margin-top: 55px; } }

/***********************************************/
.topbox {
  background: url(../img/mainbox-fon.jpg) center center no-repeat;
  background-size: cover;
  height: unset;
  padding: 20px 20px; }
  @media only screen and (min-width: 768px) {
    .topbox {
      height: 628px; } }
  @media only screen and (min-width: 1200px) {
    .topbox {
      padding: 60px 85px; } }

.topbox-title-wrapp {
  width: 100%;
  max-width: unset;
  margin: 0px 0px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .topbox-title-wrapp {
      max-width: 650px;
      margin: 20px 20px;
      text-align: left; } }
  @media only screen and (min-width: 1200px) {
    .topbox-title-wrapp {
      margin: 35px 10px; } }
  @media only screen and (min-width: 1600px) {
    .topbox-title-wrapp {
      margin: 35px 35px; } }

.topbox-title {
  display: block;
  font-family: "circe-regular";
  color: #fff;
  font-size: 32px;
  line-height: 40px; }
  @media only screen and (min-width: 480px) {
    .topbox-title {
      line-height: 46px; } }
  @media only screen and (min-width: 768px) {
    .topbox-title {
      font-size: 36px;
      line-height: 46px; } }
  @media only screen and (min-width: 1200px) {
    .topbox-title {
      font-size: 44px;
      line-height: 56px; } }

.topbox-item-title {
  display: block;
  color: #fff;
  font-family: "circe-bold";
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 25px 0px; }
  @media only screen and (min-width: 992px) {
    .topbox-item-title {
      font-size: 14px; } }
  @media only screen and (min-width: 1200px) {
    .topbox-item-title {
      font-size: 16px; } }

.topbox-item-text {
  display: block;
  font-family: "circe-regular";
  color: #fff;
  font-size: 14px;
  line-height: 24px; }
  @media only screen and (min-width: 992px) {
    .topbox-item-text {
      font-size: 17px; } }

.topbox-item-link {
  display: block;
  width: 100%;
  max-width: 142px;
  height: 44px;
  border: 1px solid #fafafa;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-family: "circe-bold";
  text-align: center;
  color: #fff;
  font-size: 17px;
  line-height: 44px;
  background: transparent;
  margin: 25px auto 0px auto; }
  @media only screen and (min-width: 768px) {
    .topbox-item-link {
      margin: 25px 0px 0px 0px; } }
  .topbox-item-link:hover, .topbox-item-link:active, .topbox-item-link:focus {
    color: #282831;
    background: #fff;
    text-decoration: none;
    -webkit-transition: background 0.6s ease 0s;
    transition: background 0.6s ease 0s; }

.topbox-item {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 10px; }
  @media only screen and (min-width: 768px) {
    .topbox-item {
      max-width: 200px;
      margin: 10px 10px; } }
  @media only screen and (min-width: 992px) {
    .topbox-item {
      max-width: 220px;
      margin: 10px 10px; } }
  @media only screen and (min-width: 1200px) {
    .topbox-item {
      max-width: 243px;
      margin: 35px 10px; } }
  @media only screen and (min-width: 1600px) {
    .topbox-item {
      margin: 35px 35px; } }

.topbox-wrapp {
  margin-top: 0px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .topbox-wrapp {
      text-align: left;
      margin-top: 80px; } }
  @media only screen and (min-width: 1200px) {
    .topbox-wrapp {
      margin-top: 0px; } }

ul {
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

.contain {
  width: 100%;
  min-height: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important; }
